html {
    background-color: black;
    text-align: center;
}


h1 {
    color: white;
    font-size: 50px;
}

h2 {
    color: white;
    font-size: 42px;
}

h4 {
    color: white;
    font-size: 21px;
}

a {
    color: aquamarine;
}

video {
    display: block;
    margin: 30px auto;
}

h5 {
    color: gray;
    text-align: right;
}